@{
    ViewData["Title"] = "Home Page";
}

<style>
    #example, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    #wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align:center;
    }

    .block {
    }
</style>
<table>
    <tr>
        <td>
            <h5>States</h5>
        </td>
        <td>
            <div class="container">
                <select id="ddlStates" style="max-width:300px;min-width:200px;">
                </select>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <h5>Districts</h5>
        </td>
        <td>
            <div class="container">
                <select id="ddlDistrict" style="max-width:300px;min-width:200px;">
                </select>
            </div>
        </td>
    </tr>
</table>

<br />
<br />

<div style="width:90%;">
    <table id="example" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>